body {
  background-color: #e7c6ff;
}

   img{
  width: 80vh;
  padding: 15px;
}

nav{
  list-style-type: none;
  background-color: #ade8f4;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

li {
  display: inline;
  padding: 13px;
  float: right;
}

li:hover {
background-color: white;
}

a{
  text-decoration: none;
  color: black;
  letter-spacing: 5px;
}

#container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  text-align: center;
  width: 100%;
}
